

body {
  min-height: 100vh;
  background-image: url(images/temple.jpg);
  background-size:cover;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(images/temple.jpg);
  overflow: hidden;
}
.ring {
  pointer-events: none;
  background-image: url(images/stoneBricks.jpeg);
  background-size:cover;
}


#ring0 {
  width: 180px;
  height: 108px;
}
#ring1 {
  width: 210px;
  height: 126px;
}
#ring2 {
  width: 240px;
  height: 144px;
}
#ring3 {
  width: 270px;
  height: 162px;
}
#ring4 {
  width: 300px;
  height: 180px;

}

p {
  font-family: Monoton, cursive;
  font-size: 50pt

}
h1 {
   display:inline;
   width:1425px;
   text-align:center;
     position: absolute;
     font-family: Monoton, cursive;
     font-size: 40pt;
     margin: 0;
}
.blink_me{
    animation: color-change 1s infinite;
    animation: arrowStart 4s 1;
}
@keyframes arrowStart {
    0%   {text: red; left: 0px; top: 0px;}
    10%  {text: yellow; left: -200px; top: 0px;}
    20%  {text: blue; left: 0px; top: 0px;}
    30%  {text: green; left: -200px; top: 0px;}
    40% {text: red; left: 0px; top: 0px;}
    50% {text: red; left: -200px; top: 0px;}
    60% {text: red; left: 0px; top: 0px;}
    70% {text: red; left: -200px; top: 0px;}
    80% {text: red; left: 0px; top: 0px;}
    90% {text: red; left: -200px; top: 0px;}
    100% {text: red; left: 0px; top: 0px;}
}

div {
  width: 150px;
  height: 100px;
  color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  line-height: 00px;
  margin: 0 auto;
}
.pole {
background-image: url(images/pole.png);
width: 300px;
height: 800px;
margin: 0 auto;
display: flex;
flex-direction: column-reverse;
}
