body {
  min-height: 100vh;
  margin: 0 auto;
  font: 12pt Comic Sans MS;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#ringSmall {
  width: 150px;
  height: 100px;
}
#ringMedium {
  width: 200px;
  height: 133px;
}
#ringLarge {
  width: 250px;
  height: 166px;

}


div {
  width: 150px;
  height: 100px;
  background: #990012;
  color: #FFFFFF;
  border-radius: 10px;
  font: 14pt Comic Sans MS;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
}
.pole {
background: #D3D3D3;
width: 300px;
height: 800px;
margin: 0 auto;
display: flex;
flex-direction: column-reverse;
}
